/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*====================================== Reset CSS End ===================================================*/
h1{
    font-size: 38px;
}
.container1{
    border:black solid;
}
.red-box{
    display: inline-block;
    width: 140px;
    height: 100px;
    margin: 30px;
    background-color: #b22e25;
}
.container2{
    border: solid;
    border-style:double;
}
.container3{
    border: solid;
    border-style:dashed;
}
.container4{
    border: solid;
    border-style:dotted;
}
.purple{
    display:inline-block;
    background-color:purple;
    padding: 20px;
}
.box{
    display:block;
    width: 350px;
    padding: 20px;
    background-color: red;
    border-top: 20px solid grey;
    border-left: 20px solid yellow;
    border-right: 20px solid green;
    border-bottom: 20px solid blue;
}